

<form name="myForm" >
N: <input type="number" name="input" data-ng-model="n" min="0" max="99" required>
<span class="error" ng-show="myForm.input.$error.required">N is Required.</span>
<span class="error" ng-show="myForm.input.$error.number">N is not valid number.</span>
<button data-ng-disabled="!myForm.input.$valid" type="button" data-ng-click="runSimulation()">Run Simulation</button> 
</form>

<hr>

<div>Open spaces: {{ numberOpen() }}</div>
<div>Total spaces: {{totalSpaces}}</div>
<div data-ng-show="totalSpaces">
% to percolate: {{ (numberOpen() / totalSpaces)*100 | number: 2 }}
</div>

<div data-ng-repeat="row in grid()">
	<span data-ng-repeat="item in row track by $index" class="site" data-ng-class="{open: item === 1, closed: item === 0, solution: item === 9}">
		-- {{item}} --
	</span>
</div>

